* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Laila',serif, sans-serif;
}

header {
  padding-top: 2vh;
  background-color:#ffffff;
}

footer{
  text-align: center;
  background-color: #272343;
  color: white;
}

nav {
  display: flex;
  width: 90vw;
  padding-left: 3vw;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  /* align-items:center; */
  gap: 20px;
}

.nav-item {
  padding-top: 5vh 0;
}

.container {
  display: flex;
  width: 600vw;
  transition: transform 1s ease-in-out;
}
.slide {
  width: 100vw;
  min-height: 300px;
  height: 40vh;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: 2rem;
  color: white;
  /* text-shadow: 2px 2px 10px rgba(0,0,0,0.5); */
}
.slide:nth-child(1) {
  background: url("head-first.jpg") center/cover;
}
.slide:nth-child(2) {
  background: url("head-second.jpg") center/cover;
}
.slide:nth-child(3) {
  background: url("head-third.jpg") center/cover;
}
.slide:nth-child(4) {
  background: url("head-fourth.jpg") center/cover;
}
.slide:nth-child(5) {
  background: url("head-fifth.webp") center/cover;
}
.slide:nth-child(6) {
  background: url("head-sixth.jpg") center/cover;
}

aside {
  background-color: #E3F6F5;  
}

.aside-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;

}

.aside-text{
  text-align: center;
  padding: 2% 0;
}

.aside-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 30vw;
    border: 2px solid blue;
}